--extra-index-url https://download.pytorch.org/whl/cu128
torchvision>=0.21.0, <0.23.0

# cython_bbox
# git+https://github.com/samson-wang/cython_bbox.git#egg=cython-bbox # official repo uses deprecated np.float
git+https://github.com/Keval-WOT/cython_bbox.git#egg=cython-bbox

onemetric
loguru
scikit-image
tqdm
thop
tabulate
motmetrics
filterpy
h5py
git+https://github.com/gatagat/lap.git
ninja
pycocotools>=2.0.0, <3.0.0
