# cython_bbox
# git+https://github.com/samson-wang/cython_bbox.git#egg=cython-bbox # official repo uses deprecated np.float
git+https://github.com/Keval-WOT/cython_bbox.git#egg=cython-bbox

onemetric
numpy
loguru
scikit-image
tqdm
thop
tabulate
motmetrics
filterpy
h5py
git+https://github.com/gatagat/lap.git
ninja

# yolox @ git+https://github.com/ifzhang/ByteTrack.git
pycocotools
# git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI