cython_bbox
onemetric

loguru
scikit-image
tqdm
thop
tabulate
motmetrics
filterpy
h5py

yolox @ git+https://github.com/ifzhang/ByteTrack.git
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI